---
const { link, image, imageAlt, title, author, authorSlug, pubDate } = Astro.props
---

<article class={!image ? 'card card--no-image' : 'card'}>
    <header>
        <a href={link}>
            { image ?
            <picture>
                <img aria-hidden="true" src={image} alt={imageAlt}/>
            </picture>
            : '' }

            <h2 class="text-4">{title}</h2>
        </a>
        
        {author && pubDate?
            <p class="card__meta">
            {authorSlug ? <a href={/authors/+authorSlug}>{author}</a> : <span>{author}</span> }
            {pubDate && <time>{pubDate}</time>}
            </p>
            :
            { pubDate && 
                <p class="card__meta">
                <time>{pubDate}</time>
                </p>
            }
        }
    </header>
</article>

<style is:global lang="scss">
.card {
    --aspect-ratio: 16 / 9;

    &--no-image {
        --border-color: var(--color-border);
        
        margin: 0 auto;
        position: relative;
        width: min(75ch, 100%);
        header {
            > a::before {
                aspect-ratio: var(--aspect-ratio);
                background: linear-gradient(331deg, rgba(243,243,243,1) 50%, transparent 50%);
                border: 1px solid var(--color-border);
                border-radius: var(--global-border-radius);
                content: '';
                display: block;

                @supports not (aspect-ratio: 1 / 1) {
                    padding-bottom: 56.25%;
                }
            }
        }
    }

    a {
        color: unset;
        display: block;
        text-decoration: unset;
    }

    picture {
        border: 1px solid var(--color-border);
        border-radius: calc(var(--global-border-radius) / 2);
        overflow: hidden;
    }

    img {
        aspect-ratio: var(--aspect-ratio);
        width: 100%;
    }

    h2 {
        margin-block-end: 0.2em;
        margin-block-start: 1rem;
    }
    &__meta {
        --max-font-size: 1;
        font-variation-settings: "wght" 550;
        margin-block-end: 0.75em;
        
        a {
            background-size: 100% calc(100%*var(--run,0));
            display: unset;
            font-variation-settings: inherit;
        }

        time {
            font-variation-settings: initial;

            &:not(:only-child)::before {
                content: ' : ';
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .card {

        @media (prefers-reduced-motion: no-preference) {
            img {
                transition: transform 350ms var(--global-easing);
            }
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
        a:hover h2 {
            color: var(--color-primary-link);
        }
    }
}
</style>