---
const { siteName = 'Cognition', pageTitle, ogTitle = siteName + ' : ' + pageTitle, ogDescription = 'Cognition Theme', ogImage = '/img/social/share-image.png' } = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content={ogDescription}>
<meta data-hid="og:title" property="og:title" content={ogTitle}>
<meta data-hid="og:image" property="og:image" content={ogImage}>
<meta data-hid="og:description" property="og:description" content={ogDescription}>
<meta data-hid="twitter:title" name="twitter:title" content={ogTitle}>
<meta data-hid="twitter:image" name="twitter:image" content={ogImage}>
<meta data-hid="twitter:description" name="twitter:description" content={ogDescription}>
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/img/global/apple-touch-icon.png">
<link rel="stylesheet" href={import.meta.env.MODE==='development' ? '/src/styles/global.scss' : '/css/global.css' } />
<title>{siteName}{(pageTitle != true && pageTitle) && ' : ' + pageTitle}</title>